.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 70px;
    border: none;
    background-color: #359b85;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-right: 20px;
}

.userUpdate{
    flex: 1;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(147, 146, 146);
}

.userShowBottom{
    margin-top: 20px;
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 25px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
    align-items: center;
}

.userUpdateInput{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    width: 250px;
    height: 30px;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.userUpdateUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.userUpdateUpload label{
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.userUpdateUpload label:hover{
    opacity: 1;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: /* #359b85 */ midnightblue;
    height: 30px;
    color: white;
    cursor: pointer;
    padding: 5px;
}